<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Target.Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <Target.Utility.Properties.Settings>
            <setting name="ResizeWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ResizeHeight" serializeAs="String">
                <value>736</value>
            </setting>
            <setting name="ResizeMultiple" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Tolerance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="ResizeImage" serializeAs="String">
                <value>True</value>
            </setting>
        </Target.Utility.Properties.Settings>
    </userSettings>
</configuration>